<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
  version="3.0" metadata-complete="true">

    <description>
      MVC Annotation Examples.
    </description>
    <display-name>MVC Annotation Examples</display-name>

    <context-param>
        <param-name>config</param-name>
        <param-value>/WEB-INF/struts-config.xml</param-value>
    </context-param>

    <!-- Define example application events listeners -->
    <listener>
        <listener-class>struts.listeners.ContextListener</listener-class>
    </listener>

    <!-- Define servlets that are included in the example application -->

    <servlet>
      <servlet-name>action</servlet-name>
      <servlet-class>struts.action.ActionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
      <servlet-name>action</servlet-name>
      <url-pattern>*.do</url-pattern>
    </servlet-mapping>

	<welcome-file-list>
		<welcome-file>/WEB-INF/login.jsp</welcome-file>
	</welcome-file-list>
</web-app>
